table,
td {
    border: 1px solid #333;
    margin-left: 0;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.tableau{
}
table{
    width: 1000px;
}
body{
    background-color:orange;
}
.photo{
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 4%;
    overflow: hidden;
    border-width: -1%;
}
.coordo{
    margin-top: -15%;
    margin-left: 60%;
}
.telecharger{
    align-content: flex-end;
    margin-left: 80%;
}